/* ============================================= */
/*        About Secton Layout                    */
/* ============================================= */

.about {
    background-color: $brand-color-secondary;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding-bottom: 30px;
    h4,
    p {
        color: $brand-color-primary;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .content-wrapper {
        padding: 0 10px;
    }
}