/* ============================================= */
/*        Hero Layout                            */
/* ============================================= */

.hero-wrapper {
    // height: 95vh;
    height: calc(100vh - 55px);
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: $brand-color-secondary;
    padding-top: 30px;
    flex-grow: 1;
    position: relative;
    h2,
    h3 {
        color: $brand-color-primary;
    }
    h2 {
        margin-top: 0;
        margin-bottom: 0;
    }
    h3 {
        width: 20ch;
    }
    .content-wrapper {
        position: relative;
    }
}

.cta-btn {
    padding: 15px 20px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
}

.hero-image {
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 40vh;
    width: auto;
    @media (max-height: 517px) {
        display: none;
    }
    @media (min-width: 768px) {
        height: 60vh;
    }
}