/* ============================================= */
/*        Lead-in Secton Layout                  */
/* ============================================= */

.lead-in {
    padding-top: 10px;
    p {
        text-align: center;
        margin-bottom: 0;
    }
    .content-wrapper {
        padding: 0 10px;
    }
}

.lead-in-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

@keyframes chevron-bounce {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(6px);
    }
    50% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(0);
    }
}

.feather {
    animation: chevron-bounce 3s 2s infinite;
}