/* ============================================= */
/*        Navigation Layout                      */
/* ============================================= */

nav {
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .laptop-nav {
        @media (max-width: 1024px) {
            display: none;
        }
    }
}

.hamburger {
    @media (min-width: 1024px) {
        display: none;
    }
}

.nav-list {
    list-style-type: none;
    display: flex;
    padding: 0;
    li {
        margin-left: 30px;
    }
}