/* ============================================= */
/*        Projects Secton Layout                 */
/* ============================================= */

.projects {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding: 60px 0;
    .content-wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.project-grid-container {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    grid-gap: 40px;
    justify-content: center;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.project-image {
    background-color: #fff;
    height: 140px;
    border-radius: 10px;
    overflow: hidden;
}

img {
    height: 100%;
}

.project-card {
    height: 500px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    p {
        color: $brand-color-primary;
    }
    .project-btns {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $accent-color;
        color: $brand-color-secondary;
        width: 120px;
        height: 40px;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        border: none;
        margin: 20px 0;
        font-size: 16px;
        &:last-child {
            margin-left: 10px;
        }
        &:hover {
            background-color: $accent-color-lighten;
            transition: background-color, 0.3s ease-in-out;
        }
        &:active{
            background-color: $accent-color-darken;
        }
    }
}

.project-text {
    padding: 0 10px;
    p {
        font-size: 14px;
    }
}

.project-languages {
    margin-top: auto;
    margin-bottom: 20px;
}