/* ============================================= */
/*        Projects Secton Layout                 */
/* ============================================= */

.projects {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;

    .content-wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.project-grid-container {
    max-width: 700px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 220px);
    grid-gap: 20px;
    justify-content: center;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.project-image {
    background-color: #fff;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
}

.project-card {
    height: 400px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    border-radius: 10px;
}

.project-text {
    padding: 0 10px;
    p {
        font-size: 14px;
    }
}