/* ============================================= */
/*        General Page Layout                    */
/* ============================================= */

html {
    scroll-behavior: smooth;
}

body {
    background-color: $brand-color-primary;
}

.cta-btn {
    background-color: $accent-color;
    cursor: pointer;
}

.content-wrapper {
    width: 95%;
    max-width: 1440px;
    margin: auto;
}