/* ============================================= */
/*        General Page Layout                    */
/* ============================================= */

body {
    background-color: $brand-color-primary;
}

.content-wrapper {
    width: 95%;
    max-width: 1024px;
    margin: auto;
}