/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
  font-family: "Montserrat", sans-serif;
  color: $primary-text-color;
  box-sizing: border-box;
}

p {
  line-height: 1.45em;
}

a {
  text-decoration: none;
}

/* ============================================= */
/*              Typography                       */
/* ============================================= */

h1 {
  font-size: 2rem;
  font-weight: 700;
  @media (min-width: 768px) {
    font-size: 2.5rem;
  }
}

h2 {
  font-weight: 600;
  font-size: 1.17em;
  @media (min-width: 768px) {
    font-size: 1.3rem;
  }
}

h3 {
  margin-top: 0;
  font-size: 20px;
}

h4 {
  color: $brand-color-primary;
  font-size: 16px;
  margin-bottom: 0;
}

h1,
h3,
h4 {
  margin-bottom: 30px;
}

.txt-accent {
  color: $accent-color;
}
