/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
    font-family: 'Montserrat', sans-serif;
    color: $primary-text-color;
    box-sizing: border-box;
  }
  
  p {
    line-height: 1.45em;
  }
  
  a {
    text-decoration: none;
  }
  
  
  /* ============================================= */
  /*              Typography                       */
  /* ============================================= */
  
  .headline-primary {
    color: $brand-color-primary;
    margin-left: 10px;
  }
  
  .headline-secondary {
    font-weight: 300;
    color: $primary-text-color;
  }