/* ============================================= */
/*              Base styles                      */
/* ============================================= */

  * {
      font-family: 'Montserrat', sans-serif;
      color: $primary-text-color;
      box-sizing: border-box;
    }
    
    p {
      line-height: 1.45em;
    }
    
    a {
      text-decoration: none;
    }
  

  /* ============================================= */
  /*              Typography                       */
  /* ============================================= */

  h2 {
    font-size: 2rem;
    font-weight: 700;
  }

  h3 {
    font-weight: 600;
  }

  h4 {
    margin-top: 30px;
    font-size: 20px;
  }

  h5 {
    color: $brand-color-primary;
    font-size: 15px;
    margin-bottom: 0;
  }

  .txt-accent {
    color: $accent-color;
  }